version: "3.9"

services:
  mariadb:
    image: mariadb:11
    container_name: contain_mariadb
    restart: always
    environment:
      MYSQL_DATABASE: app_db
      MYSQL_USER: app_user
      MYSQL_PASSWORD: app_password
      MYSQL_ROOT_PASSWORD: root_password
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - backend_net

  backend:
    build: ./backend
    container_name: contain_backend
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - mariadb
    networks:
      - backend_net

volumes:
  mariadb_data:

networks:
  backend_net:
    driver: bridge